body {
  background: #fafafa;
}

h1 {
	text-align:center;
}

.mdl-grid {
  padding: 0!important;
}

.mdl-cell {
  box-sizing: border-box;
  color: white;
  text-align: center;
}

.item {
  width: 150px;
  color: white;
}
